body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: Steelblue;
  color:white;
  padding: 2rem;
  text-align: center;
}

main {
  padding: 2rem;
}

h2 {
  border-bottom: 1px solid Steelblue;
  padding-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

#icono{
	width:36px;
	height:36px;
}
